@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  position: absolute; 
}

header .wrapper { padding-top: 14px; }

.logo img {
  width: 25px;
  height: 25px;
  border: 1px solid #A19FA6;
  border-radius: 50%;
}

.hamburger {
  width: 30px;
  height: 24px;
  padding: 6px;
  border: 1p solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #A19FA6;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 19px;
  height: 2px;
  padding: 0px;
  margin: 2px;
  display: block;
  background-color: #3B3B3B;
  text-indent: -9999px;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo 
{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-links,
.tel-section { display: none; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner section start*/
.banner-section {
  width: 100%;
  height: auto;
  background: url(https://via.placeholder.com/1350x500.png?) no-repeat center center / cover;
}

.banner-section { 
  display: absolute;
  padding: 30px 0;
 }

.left-section { 
  width: 80%;
  padding: 70px 0 25px 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
 }

 form { padding: 17px 8%; }

 form p:nth-of-type(1)::first-letter {
   text-transform: capitalize;
 }

 form p:nth-of-type(1) {
   font-size: 18px;
   margin-bottom: 10px;
 }

 form p:nth-of-type(2) {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 17px;
 }

h1 
{
  text-transform: capitalize;
  color: #fff;
}

.left-section p { padding-bottom: 13px; }

.left-section a {
  padding: 7px 5%;
  border-radius: 5px;
  background: #33D4D6;
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
}

form {
  border-radius: 5px;
  background: #fff;
}

select { width: 80%; }

.amounts { margin-bottom: 10px; }
.calender { margin-bottom: 15px; }

form p:last-of-type { 
  margin-bottom: 10px;
  font-size: 13px;
 }

 form a {
  width: 80%;
  padding: 5px 6%;
  background: #33D4D6;
  font-size: 14px;
 }
/*banner section end*/

/*what section start*/

h2 { font-size: 18px; }

/*what section end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  