@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #A9A09B;
}

/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  position: absolute; 
}

header .wrapper { padding-top: 14px; }

.logo img {
  width: 25px;
  height: 25px;
  border: 1px solid #A19FA6;
  border-radius: 50%;
}

.hamburger {
  width: 30px;
  height: 24px;
  padding: 6px;
  border: 1p solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #A19FA6;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 19px;
  height: 2px;
  padding: 0px;
  margin: 2px;
  display: block;
  background-color: #3B3B3B;
  text-indent: -9999px;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo 
{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-links,
.tel-section { display: none; }

.hamburger:hover .nav-links {
  display: block; 
}

.hamburger:hover .bar1 {
  transform: translate(0, 3px) rotate(-45deg);
}

.hamburger:hover .bar2 { display: none; }

.hamburger:hover .bar3 {
  transform: translate(0, -3px) rotate(45deg);
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*banner section start*/
.banner-section {
  width: 100%;
  height: auto;
  background: url(https://via.placeholder.com/1350x500.png?) no-repeat center center / cover;
}

.banner-section { 
  display: absolute;
  padding: 30px 0;
  margin-bottom: 40px;
 }

.left-section { 
  width: 80%;
  padding: 70px 0 25px 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
 }

 form { padding: 17px 8%; }

 form p:nth-of-type(1)::first-letter {
   text-transform: capitalize;
 }

 form p:nth-of-type(1) {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000
 }

 form p:nth-of-type(2) {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 17px;
 }

h1 {
  text-transform: capitalize;
  color: #fff;
}

.left-section p { padding-bottom: 13px; }

.blue-btn {
  padding: 7px 5%;
  border-radius: 5px;
  background: #33D4D6;
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
}

.card-list a {
  width: 70%;
  margin-bottom: 30px;
  text-align: center;
}

form {
  border-radius: 5px;
  background: #fff;
}

select { width: 80%; }

.amounts { margin-bottom: 10px; }
.calender { margin-bottom: 15px; }

form p:last-of-type { 
  margin-bottom: 10px;
  font-size: 13px;
 }

 form a {
  width: 80%;
  padding: 5px 6%;
  background: #33D4D6;
  font-size: 14px;
 }

 form p:nth-of-type(2)::first-letter,
 form p:last-of-type::first-letter { text-transform: capitalize; }

 .first-letter::first-letter { text-transform: uppercase; }

 select { 
   padding: 5px 2%;
   border: 1px solid #ccc;
   background: #fff;
   }

   form .blue-btn { text-align: center; }
/*banner section end*/

/*what section start*/

h3 { 
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  text-align: center;
 }

 h3::after {
  content: '';
  display: inline-block;
  width: 42px;
  height: 2px;
  background-color: #33D4D6;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 23px
 }

 .top-para {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 22px;
 }

 .what-section ul {
  margin-bottom: 25px;
  display: flex;
  color: #E6E0E5;
  flex-direction: column;
  font-size: 13px;
 }

 .card-list {
  padding-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  background-color: #087EE5;
  background-image: linear-gradient(to bottom, #087EE5, #064884);
  flex-direction: column;
  align-items: center;
 } 

 .card-list ul {
  width: 100%;
  border-top: 1px solid;
  display: flex;
  align-items: center;
 }

 .card-list ul li {
   width: 70%;
   color: #fff;
 }

 .card-list ul li::first-letter { text-transform: uppercase; }

 .card-list ul li::before,
 .right-why-section ul li::before {
  content: '\2e';
  font-family: "FontAwesome";
  padding-right: 10px;
  font-size: 24px;
  color: #33D4D6;
 }

 .card-icon::before {
  color: #fff;
  float: left;
  font-family: "FontAwesome";
  font-size: 30px;
  text-indent: 0;
 }

 .icon1::before { content: '\f0d6'; }
 .icon2::before { content: '\f1b9';}
 .icon3::before { content: '\f19d';}

 .card-icon { 
   margin-bottom: 20px;
   display: inline-block;
   text-indent: -9999px; 
  }

  .card-list ul li:nth-of-type(1) {
    margin-top: 10px;
  }

 .home-para {
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
 }

 .amount-para {
  margin-bottom: 20px;
  color: #2CCFD6;
  font-size: 17px;
  text-align: center;
 }

 .what-second-unorder li::before {
   content: '\e122';
   font-family: "FontAwesome";
 }
/*what section end*/

/*why section start*/
.why-section img { margin-bottom: 25px; }
.right-why-section ul { margin-bottom: 20px; }

.right-why-section ul li { 
  color:#000;
  font-size: 12px;
 }

.right-why-section .top-para { margin-bottom: 10px; }
.why-section { margin-bottom: 40px; }
/*why section end*/

/*how section start*/

h4 { 
  margin-bottom: 10px;
  color: #000;
}

.how-section { padding: 20px 0; }

.how-section ul li a {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  display: flex;
  background: rgb(221,240,255);
  align-items: center;
  justify-content: center;
}

.how-section ul li p {
  font-size: 13px;
  line-height: 22px;
}

h2 {
  width: 75%;
  margin: 0 auto 30px;
  font-size: 21px;
  text-align: initial;
  line-height: 33px;
}

h3 { 
  font-size: 17px;
  margin-bottom: 10px;
  color: #000;
 }

 .how-section ul li { margin-bottom: 30px; }
/*how section end*/

/*frequent section start*/

.frequent-top-section img,
.frequent-top-section ul { margin-bottom: 40px; }

.frequent-top-section ul li { 
  font-size: 13px;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #918E8E;
 }

.frequent-top-section ul li::before {
  content: '\f077';
  font-family: "FontAwesome";
  padding-right: 10px;
  font-size: 15px;
  color: #918E8E;
  position: absolute;
}

.accordian ul li h6 { padding-left: 8%; }

.accordian ul li p {
  padding-top: 10px;
  padding-left: 4%;
  line-height: 20px;
}
    

h6 { color: #000; }

.caurosel-img { 
  text-align: center;
  margin-bottom: 35px;
 }

.caurosel-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.caurosel p::after {
  content: '\f077';
  font-family: "FontAwesome";
  padding-right: 10px;
  font-size: 15px;
  color: #918E8E;
  position: absolute;
  top: 37px;
  left: 100%;
}
 
.caurosel p {
  margin-bottom: 7px;
  color: #000;
  font-size: 14px;
  line-height: 25px;
  position: relative;
}

.caurosel span {
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  font-size: 13px;
}

.caurosel { margin-bottom: 50px; }

.icon::before {
  font-family: "FontAwesome";
  font-size: 30px;
  position: absolute;
}

.frequent-icon1::before { content: '\f0d6'; }
.frequent-icon2::before { content: '\f1b9'; }
.frequent-icon3::before { content: '\f19d'; }
.frequent-icon4::before { content: '\f0d6'; }
.frequent-icon5::before { content: '\f1b9'; }

.frequent-bottom-section ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 50px;
}

.frequent-bottom-section ul li p { 
  font-size: 22px;
  padding-left: 50px;
  text-transform: capitalize;
}

/*frequent section end*/

/*big image section start*/
.big-image-section {
  background: url(https://via.placeholder.com/1220x200.png?) no-repeat center center / cover;
}

.big-image-section { 
  padding: 50px 0 50px;
  margin-bottom: 40px;
 }

.big-image-section p {
  width: 75%;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 20px;
}
/*big image section end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.footer-logo {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 25px;
  height: 25px;
  border: 1px solid #A19FA6;
  border-radius: 50%;
}

.footer-address {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 5px;
}

.footer-social-links ul {
  display: flex;
  flex-direction: column;
}

.footer-social-links ul li a::before {
  content: '\f077';
    font-family: "FontAwesome";
    padding-right: 10px;
    font-size: 15px;
    color: #918E8E;
    position: absolute;
    text-indent: 0;
    float: left;
}

/* .footer-icon { 
  text-indent: -9999px;
 } */

 h5 { 
   color: #000;
   margin-bottom: 10px;
   }

   .services,
   .useful-links {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 4px;
   }

   .services span { text-transform: uppercase; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  